<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./assets/css/login.css" />
    <title>Login</title>
  </head>
  <body>
    <div class="login-container">
      <h2>Bem-vindo</h2>
      <form action="#" method="POST">
        <input type="text" placeholder="Usuário" required />
        <input type="password" placeholder="Senha" required />
        <button type="submit">Entrar</button>
        <p class="signup">Não tem conta? <a href="#">Cadastre-se</a></p>
      </form>
    </div>
  </body>
  <script src="./assets/js/login.js"></script>
</html>
