.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem;
  font-family: 'Segoe UI', sans-serif;
  color: black;
  background-color: #eaf2fd;

}

.title {
  margin-bottom: 2rem;
  color: #4e54c8;
  font-size: 2rem;
}

.info {
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  margin-bottom: 1.5rem;
}

.info p {
  margin: 0.5rem 0;
  font-size: 1rem;
}

.resetButton {
  padding: 0.75rem 1rem;
  background-color: #4e54c8;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s ease;
}

.resetButton:hover {
  background-color: #3b3fc1;
}

.error {
  color: red;
  margin-bottom: 1rem;
}

/* Responsivo */
@media (max-width: 480px) {
  .info {
    padding: 1.5rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .resetButton {
    font-size: 0.9rem;
    padding: 0.6rem 1rem;
  }
}
