.bodyContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: var(--bg-body);
  color: var(--text-color);
  box-sizing: border-box;
}

.loginContainer {
  background-color: var(--bg-container);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem var(--shadow-color);
  width: 100%;
  max-width: 400px;
  padding-top: 20vh;
  z-index: 0;
  text-align: center;
}

.loginTitle {
  margin-bottom: 1.5rem;
  color: var(--accent);
  font-size: 1.8rem;
}

.loginForm {
  width: 100%;
  z-index: 0;
}

.loginInput {
  width: 73%;
  padding: 0.75rem;
  margin: 0.75rem 0;
  border: 1px solid var(--input-border);
  border-radius: 0.5rem;
  font-size: 1rem;
  background-color: var(--input-bg);
  color: var(--text-color);
}

.loginInput::placeholder {
  color: var(--text-secondary);
}

.loginButton {
  width: 80%;
  padding: 0.75rem;
  background-color: var(--accent);
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s ease;
}

.loginButton:hover {
  background-color: var(--accent-hover);
}

.erro {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  color: #ff6b6b;
}
.logo {
  position: absolute;
  top: 29vh;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: auto;
  z-index: 10;
}

@media (max-width: 900px) {
  .logo {
  position: absolute;
  top: 28vh;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: auto;
  z-index: 10;
}


.bodyContainer {
  display: flex;
  box-sizing: border-box;
}
.loginForm {
  justify-content: center;
  display: flex;
  z-index: 0;
  flex-direction: column;
  justify-content: center;
}

.loginInput {
  width: 100%;
  padding: 0.75rem 0px;
  margin: 0.75rem 0;
  border: 1px solid var(--input-border);
  border-radius: 0.5rem;
  font-size: 1rem;
  background-color: var(--input-bg);
  color: var(--text-color);
}

.loginButton {
  width: 100%;
}

}