.container {
  max-width: 80vw;
  margin: 0 auto;
  padding: 1rem;
}

.equipamentoInfo {
  display: flex;
  justify-content: space-between;
}

.body {
  background-color: #eaf2fd;
  color: black;
}
.editButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 0vw 1vw 0vw 1vw;
  height: 5vh;
}

.intercorrenciaButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 0vw 1vw 0vw 1vw;
  height: 5vh;
}

.equipamentoInfoTexto {
  border-radius: 20px;
  padding: 0vw 1vw 0vw 1vw;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.navigation button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem;
}

.tile {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
}

.date {
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.hours {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.25rem;
}

.hours div {
  padding: 0.25rem;
  font-size: 0.875rem;
  text-align: center;
  border-radius: 0.25rem;
}

.booked {
  color: black;
  background-color: #f56565; /* vermelho */
  text-decoration: line-through dotted red; /* riscado pontilhado vermelho */
  text-decoration-thickness: 2px; /* espessura opcional */
}

.free {
  color: black;
}
