.container {
  max-width: 40rem;
  margin: 2rem auto;
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 0.75rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  color: black;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.label input,
.label textarea,
.label select {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.375rem;
  font-size: 1rem;
}

.saveButton {
  padding: 0.5rem 1rem;
  background-color: #1d4ed8;
  color: white;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
}

.error {
  color: red;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .container {
    width: 100vw;
  }
}
