.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Segoe UI', sans-serif;
  overflow: hidden;
}

.content {
  flex: 1;
  padding: 2rem;
  background-color: #eaf2fd;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1.5rem;
  font-size: xx-large;
  font-style: normal;
  color: black;
}

.block {
  background-color: white;
  border-radius: 0.5rem;
  padding: 1.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background 0.3s ease-in-out;
}

.block:hover {
  background-color: rgb(209, 209, 209);
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Segoe UI', sans-serif;
  }

  .content {
    flex: 1;
    padding: 3rem;
    background-color: #eaf2fd;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    font-size: xx-large;
    font-style: normal;
    color: black;
  }

  .block {
    background-color: white;
    border-radius: 0.5rem;
    padding: 1.5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    font-size: x-large;
    text-align: center;
    height: 30vh;
  }
}
